
	(L'id de la playlist est : {{ playlist.DeezerId }})
	({{ playlist.duration }})
	<form>

	Liste des morceaux :

	 <div class="table-responsive">
	  <table class="table table-striped table-bordered table-hover table-condensed ">
	    	<thead>
		        <tr>
		            <th> Title</th>
		            <th> Artist</th>
		            <th> Duration</th>
		        </tr>
		    </thead>
	    	<tbody>
		        {% for tr in tracks %}
	             <tr>
			       <td> {{tr.title}} </td>
			       <td> {{tr.Artist.name}} </td>
			       <td> {{tr.duration}} </td>
			   </tr>
		        {% endfor %}
		    </tbody>
	</div> 

	</table>
	</form>








