

{% block data %}

	<br>		
	<iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?autoplay=true&playlist=false&width=700&height=240&cover=true&type={{ type }}&id={{current_track.DeezerId}}&title=&app_id=undefined" width="700" height="240" ></iframe> 
	<br>		

{{current_track.getuSec}}

<script>
    function redirect(){
       window.location.href = "{% url 'player:tr_play' %}";
    }
    // setTimeout(redirect, {{ current_track.getuSec }}); //2000 is equivalent to 2 seconds
    setTimeout(redirect, 10000); //2000 is equivalent to 2 seconds
</script>



{% endblock %}