{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>IRISIB JukeBox Player</title>
    Welcome to the IRISIB Juke Box Player
  </head>
  
  <body>


    <FORM>
	{% csrf_token %}
        Selection d'une playliste :
      <SELECT id="plop" name="nom" size="1" value="{{ playlists.spotifyid }}">
        {% for pl in playlists %}
          <OPTION>{{pl.name}}
        {% endfor %}
      </SELECT>
        <input type="submit" value="Play" name="play" >
		</input><br/>
		<ul>
    {% for pl in playlists %}
        <li><a href="{% url 'player:play' pl.SpotifyId %}" target=_blank>{{ pl.name }}</a></li>
    {% endfor %}
    </ul>
    </FORM>

  </body>
</html>

<!-- spotify:user:spotify:playlist:5ILSWr90l2Bgk89xuhsysy
spotify:user:spotify:playlist:5ILSWr90l2Bgk89xuhsysy
http://open.spotify.com/user/spotify/playlist/5ILSWr90l2Bgk89xuhsysy
http://open.spotify.com/user/jukeboxdev --