{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>IRISIB JukeBox Player</title>
    Welcome to the IRISIB Juke Box Player
  </head>
  
  <body>

<iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </body>
</html>

<!-- spotify:user:spotify:playlist:5ILSWr90l2Bgk89xuhsysy
spotify:user:spotify:playlist:5ILSWr90l2Bgk89xuhsysy
http://open.spotify.com/user/spotify/playlist/5ILSWr90l2Bgk89xuhsysy
http://open.spotify.com/user/jukeboxdev --